

<section class="get_in_touch">
  <h1 class="title">Registrate aquí</h1>
  <div class="container">

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs contact-form row">

        <div class="form-field col-lg-12">
          <%= f.text_field :email,
                           required: true,
                           label: false,
                           class: 'input-text',
                           placeholder: ' ' %>
          <%= f.label :correo_electronico,
                      class: 'label' %>
        </div>

        <div class="form-field col-lg-12">
          <%= f.password_field :password,
                               required: true,
                               label: false,
                               class: 'input-text',
                               placeholder: ' ',
                               hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
          <%= f.label :contraseña,
                      class: 'label' %>
        </div>

        <div class="form-field col-lg-12">
          <%= f.password_field :password_confirmation,
                               required: true, label: false,
                               class: 'input-text', placeholder: ' ' %>
          <%= f.label :confirmar_contraseña,
                      class: 'label' %>
        </div>

        <%= f.input :petwalker, label: "I am a:", as: :radio_buttons, collection: [['Pet walker',true], ['Pet owner',false]], required: true%>

      </div>

      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</section>



<%= render "devise/shared/links" %>
