
<div class="card">
<% if @petwalker.photo.attached? %>
  <%= cl_image_tag @petwalker.photo.key, class: 'card-img-top'%>
<% else %>
<div style="width: 18rem;">
  <%= image_tag "petwalker.png", size: "auto", style: "border-radius: 5%; width: 100%", class: "avatar card-img-top bd-placeholder-img"%>
</div>
<% end %>

<div class="card-body">

<%= @petwalker.name %> |
<%= @petwalker.address %><br/>
<%= @petwalker.description %><br/>
<h3 class="card-subtitle">Reviews</h3>
<% @reviews.each do |review| %>
  <%= review[:rating] %>|<%= review[:message] %>
<% end %>
</div>
</div>




<%= simple_form_for [@pet, @service] do |f| %>
  <div class="form-inputs">
    <%= f.association :user, collection: @petwalkers, selected: 1, label: "Petwalker", label_method: :email %>
    <%= f.input :schedule, label: 'Schedule:', required: true %>
  </div>

  <% if user_signed_in? %>
    <div class="form-actions">
      <%= f.button :submit, 'Schedule', class: "btn btn-sm btn-danger" %>
    </div>
  <% else %>
    <div class="form-actions">
      <%= link_to 'Schedule', new_user_session_path, class: 'btn btn-sm btn-danger' %>
    </div>
  <% end %>
<% end %>
