  <!--Dogs Walkers-->
  <div class="container">
    <div class="row justify-content-center">
      <% @petwalkers.each do |petwalker| %>
        <div class="col-lg-3 mb-3 mx-2 border border-primary">
          <div class="box">
              <% if petwalker.photo.attached? %>
                <%= cl_image_tag petwalker.photo.key, class: 'card-img-top', style: "border-radius: 5%", width: 70 %>
              <% else %>
                <!--<i class="fa-solid fa-paw card-img-top"></i>-->
                  <%= image_tag "petwalker.png", style: "border-radius: 5%", class: "card-img-top"%>
              <% end %>

              <h5 class="card-title m-3"></h5>
              <%= petwalker.name %>
              <p class="card-description"><%= "#{petwalker.price_per_hour}/hour" %></p>
              <%= link_to 'RESERV', user_path(petwalker), class: 'mb-3 btn btn-primary' %>
          </div>
        </div>
        <% end %>
    </div>
  </div>

  <!--Footer-->
  <div class="footer text-white bg-primary">
    <p>The walking pet team</p>
  </div>
